//japanes.rc

#include "resource.h"

IDM_MENU1 MENU 
{
 POPUP "&Файл"
 {
  MENUITEM "&Новый...\tCtrl+n", IDM_NEW
  MENUITEM "&Открыть...\tCtrl+o", IDM_OPEN
  POPUP "&Демо"
  {
   MENUITEM "С&тарт\tAlt+d", IDM_START_DEMO
   MENUITEM "Отк&рыть папку...\tCtrl+f", IDM_OPEN_FOLDER
  }

  MENUITEM SEPARATOR
  MENUITEM "&Сохранить\tCtrl+s", IDM_SAVE
  MENUITEM "Сохранить &как...\tCtrl+q", IDM_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&Печать...\tCtrl+p", IDM_PRINT
  MENUITEM SEPARATOR
  MENUITEM "С&войства\tF8", IDM_CHARACTERISTICS
  MENUITEM "Пара&метры...\tF9", IDM_FEATURES
  MENUITEM SEPARATOR
  MENUITEM "В&ыход\tF10", IDM_EXIT
 }

 POPUP "&Правка"
 {
  MENUITEM "&Отменить\tCtrl+z", IDM_UNDO, GRAYED
  MENUITEM "&Повторить\tCtrl+Shift+z", IDM_REDO, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Копировать\tCtrl+Ins", IDM_CCOPY
  MENUITEM "&Вставить\tShift+Ins", IDM_CPASTE
  MENUITEM SEPARATOR
  POPUP "&Сдвинуть картинку"
  {
   MENUITEM "влево\tCtrl+курсор влево", IDM_SCLEFT
   MENUITEM "вправо\tCtrl+курсор вправо", IDM_SCRIGHT
   MENUITEM "вверх\tCtrl+курсор вверх", IDM_SCUP
   MENUITEM "вниз\tCtrl+курсор вниз", IDM_SCDOWN
  }

  MENUITEM SEPARATOR
  POPUP "О&чистить"
  {
   MENUITEM "&Рисунок\tAlt+Ctrl+p", IDM_CLEARFIELD
   MENUITEM "О&цифровку\tAlt+Ctrl+d", IDM_DELDIG
   MENUITEM "Отметки рис&унка\tCtrl+Shift+p", IDM_CLEARMARK
   MENUITEM "Отметки оци&фровки\tCtrl+Shift+d", IDM_CLEARMASK
  }

 }

 POPUP "&Вид"
 {
  MENUITEM "У&величить\tF4", IDM_MAX
  MENUITEM "У&меньшить\tF3", IDM_MIN
  MENUITEM "Во весь &экран\tHome", IDM_NORM
  MENUITEM SEPARATOR
  MENUITEM "&Панель инструментов", IDM_TOOLBAR
  MENUITEM "&Строка статуса", IDM_STATUSBOX
  MENUITEM "Показать &сетку", IDM_VIEWWEB
  MENUITEM "Показать сетку  &5 x 5", IDM_WEB5x5
  MENUITEM SEPARATOR
  MENUITEM "&Шрифт\tAlt + f", IDM_CHOOSEFONT
 }

 POPUP "&Кроссворд"
 {
  MENUITEM "&Решить кроссворд\tF5", IDM_CALCULATE
  MENUITEM "Пересчитать о&цифровку\tF6", IDM_CORRECTED
  MENUITEM "&Отметить перекрытые \377чейки\tF7", IDM_MAKEOVERLAPED
 }

 POPUP "&Настройки"
 {
  MENUITEM "Ре&шать кроссворд при открытии файла", IDM_VIEWPICTURES
  MENUITEM "Не показывать ''&Демо'' при старте программы", IDM_DEMO
  MENUITEM "&Разрешить запуск нескольких экземпл\377ров", IDM_MULTYINSTANCE
  MENUITEM SEPARATOR
  MENUITEM "&Очищать картинку перед решением", IDM_AUTOCLEAR
  MENUITEM "&Всегда выводить протокол решени\377", IDM_VIEWLOG
  MENUITEM "Диагональна\377 &заливка", IDM_DIAGONALPOTTING
 }

 POPUP "&Справка"
 {
  MENUITEM "&Об авторе\tF1", IDM_ABOUT
 }

}

IDD_DIALOG1 DIALOGEX 6, 17, 188, 85
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | 0x200L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Об авторе"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 3, 181, 61
 CONTROL IDI_ICON3, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 9, 7, 21, 20
 CONTROL "Программа \"Matrix\" версия 1.5\rАвтор программы: Терехов Владислав\r© Все права зарезервированы.", IDC_STATICTEXT2, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 29, 10, 140, 26
 CONTROL "Ok", MY_CREATER, "button", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 68, 48, 12
 CONTROL "Мир в майле: http://my.mail.ru/bk/asgrem/", IDD_WEBADDR, STATIC, SS_CENTER | SS_NOTIFY | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 35, 173, 13
 CONTROL "E-Mail: asgrem@bk.ru", IDD_MAILTO, "static", SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE, 12, 48, 164, 12
}

IDD_DIALOG_FEATURES DIALOGEX 87, 16, 191, 72
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | 0x200L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Параметры файла."
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "Параметры кроссворда", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 0, 184, 69
 CONTROL "Ширина", 201, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 15, 36, 8
 CONTROL "Высота", 202, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 34, 36, 9
 CONTROL "Оцифровка сверху", 204, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 79, 15, 69, 8
 CONTROL "Оцифровка слева", 203, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 79, 34, 69, 8
 CONTROL "", HORIZONTAL, "edit", ES_CENTER | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 11, 28, 15
 CONTROL "", IDC_UPDOWNHORIZONTAL, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 57, 11, 14, 15
 CONTROL "", VERTICAL, "edit", ES_CENTER | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 36, 30, 28, 15
 CONTROL "", IDC_UPDOWNVERTICAL, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 57, 30, 14, 15
 CONTROL "", MAXVERT, "edit", ES_CENTER | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 11, 28, 15
 CONTROL "", IDC_UPDOWNMAXVERT, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 171, 11, 12, 15
 CONTROL "", MAXHORIZ, "edit", ES_CENTER | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 30, 28, 15
 CONTROL "", IDC_UPDOWNMAXHORIZ, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 171, 30, 12, 15
 CONTROL "Цветной рисунок", CHECK_BOX1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 52, 70, 9
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 48, 48, 16
 CONTROL "Отмена", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 48, 48, 16
}

IDC_ACCELERATORS ACCELERATORS
{
 "D", IDM_DELDIG, ALT, CONTROL, VIRTKEY
 "D", IDM_CLEARMASK, CONTROL, SHIFT, VIRTKEY
 "F", IDM_CHOOSEFONT, VIRTKEY, ALT
 "N", IDM_NEW, VIRTKEY, CONTROL
 "O", IDM_OPEN, CONTROL, VIRTKEY
 "P", IDM_CLEARFIELD, ALT, CONTROL, VIRTKEY
 "P", IDM_CLEARMARK, CONTROL, SHIFT, VIRTKEY
 "Q", IDM_SAVE_AS, CONTROL, VIRTKEY
 "S", IDM_SAVE, CONTROL, VIRTKEY
 "P", IDM_PRINT, CONTROL, VIRTKEY
 "Z", IDM_UNDO, VIRTKEY, CONTROL
 "Z", IDM_REDO, VIRTKEY, CONTROL, SHIFT
 VK_LEFT, IDM_SCLEFT, VIRTKEY, CONTROL
 VK_RIGHT, IDM_SCRIGHT, VIRTKEY, CONTROL
 VK_UP, IDM_SCUP, VIRTKEY, CONTROL
 VK_DOWN, IDM_SCDOWN, VIRTKEY, CONTROL
 VK_HOME, IDM_NORM, VIRTKEY
 VK_F1, IDM_ABOUT, VIRTKEY
 VK_F3, IDM_MIN, VIRTKEY
 VK_F4, IDM_MAX, VIRTKEY
 VK_F5, IDM_CALCULATE, VIRTKEY
 VK_F6, IDM_CORRECTED, VIRTKEY
 VK_F7, IDM_MAKEOVERLAPED, VIRTKEY
 VK_F8, IDM_CHARACTERISTICS, VIRTKEY
 VK_F9, IDM_FEATURES, VIRTKEY
 VK_F10, IDM_EXIT, VIRTKEY
 VK_INSERT, IDM_CCOPY, VIRTKEY, CONTROL
 VK_INSERT, IDM_CPASTE, VIRTKEY, SHIFT
 "F", IDM_OPEN_FOLDER, VIRTKEY, CONTROL
 "D", IDM_START_DEMO, VIRTKEY, ALT
}


STRINGTABLE 
{
 IDM_NEW, "Создание нового рисунка."
 IDM_OPEN, "Открытие файлов с рисунками."
 IDM_SAVE, "Сохранение текущего кроссворда."
 IDM_SAVE_AS, "Сохранение кроссворда под другим именем и(или) форматом."
 IDM_PRINT, "Печать кроссворда."
 IDM_UNDO, "Отмена последнего действия"
 IDM_REDO, "Повтор последнего отмененного действия."
 IDM_CALCULATE, "Анализ кроссворда."
 IDM_CORRECTED, "Расчет оцифровки по текущему рисунку."
 IDM_CLEARFIELD, "Обнуление матрицы рисунка."
 IDM_CCOPY, "Копировать рисунок в буфер."
 IDM_CPASTE, "Вставить рисунок из буфера."
 IDM_FEATURES, "Параметры файла кроссворда."
 IDM_EXIT, "Выход из программы."
 IDM_SCLEFT, "Сдвиг рисунка на клетку влево."
 IDM_SCRIGHT, "Сдвиг рисунка на клетку вправо."
 IDM_SCUP, "Сдвиг рисунка на клетку вверх."
 IDM_SCDOWN, "Сдвиг рисунка на клетку вниз."
 IDM_DELDIG, "Обнуление оцифровки кроссворда."
 IDM_CLEARMARK, "Обнуление ячеек помеченных крестиком."
 IDM_CLEARMASK, "Снятие отметки оцифровки."
 IDM_MAX, "Увеличить рисунок."
 IDM_MIN, "Уменьшить рисунок."
 IDM_NORM, "Показать рисунок целиком."
 IDM_CHOOSEFONT, "Выбрать шрифт оцифровки."
 IDM_MAKEOVERLAPED, "Выделение перекрывающихся ячеек."
 IDM_CHARACTERISTICS, "Информация о файле."
 IDM_VIEWPICTURES, "Позволяет открывать файлы для отгадывания."
 IDM_DEMO, "Отключение режима показа демо-рисунков при запуске программы."
 IDM_AUTOCLEAR, "Перед решением очищается рисунок."
 IDM_VIEWLOG, "По окончании решения выводится информация о ходе решения."
 IDM_VIEWWEB, "Прорисовка клеточек."
 IDM_WEB5x5, "Прорисовка жирных линий через каждые 5 ячеек."
 IDM_DIAGONALPOTTING, "Параметр инструмента ''Заливка''"
 IDM_STATUSBOX, "Управление строкой статуса."
 IDM_ABOUT, "Вывод информации об авторе."
 IDM_TOOLBAR, "Управление панелью инструментов."
 IDM_MULTYINSTANCE, "Позволяет запукать несколько копий программы."
 IDM_OPEN_FOLDER, "Просмотр всех кроссвордов, содержащихся в папке."
 CM_POPUPITEM3, "Запуск демо-режима."
 IDM_START_DEMO, "Запуск демо-режима."
}

IDI_ICON2 ICON "Shell.ico"



IDD_IMPORT_DIALOG DIALOGEX 0, 0, 208, 102
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Импорт кроссворда"
FONT 8, "MS Sans Serif"
{
 CONTROL "Параметры импорта", 2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 2, 200, 96
 CONTROL "Как точечный рисунок", IDC_RADIOBUTTON1, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 14, 96, 9
 CONTROL "Как японский кроссворд", IDC_RADIOBUTTON2, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 26, 100, 9
 CONTROL "Рисунок", IDC_IMPPICT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 44, 56, 9
 CONTROL "Оцифровка", IDC_IMPDIG, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 57, 64, 8
 CONTROL "Сетка", IDC_IMPWEB, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 69, 59, 8
 CONTROL "Сетка 5x5", IDC_IMPMARK, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 81, 59, 8
 CONTROL "Размер ячейки (пикс.)", 1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 121, 16, 79, 11
 CONTROL "", IDC_CELLSIZE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 31, 40, 16
 CONTROL "UpDown1", IDC_UPDOWN1, "msctls_updown32", UDS_WRAP | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 159, 31, 9, 16
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 79, 37, 14
 CONTROL IDI_ICON1, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 169, 26, 21, 20
 CONTROL "Шрифт", IDC_FONT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 58, 61, 12
 CONTROL "", IDC_STATICFRAME2, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 8, 12, 108, 26
 CONTROL "", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 8, 40, 108, 55
 CONTROL "Отмена", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 79, 37, 14
 CONTROL "", IDC_STATICFRAME4, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 118, 53, 82, 22
 CONTROL "", IDC_STATICFRAME3, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 118, 12, 82, 39
}

AbortDlg DIALOGEX 34, 32, 160, 62
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Печать кроссворда."
FONT 8, "MS Sans Serif"
{
 CONTROL "Постановка на печать: ", 1, "static", SS_CENTER | WS_CHILD, 0, 10, 160, 8
 CONTROL "", IDD_FILE, "static", SS_CENTER | WS_CHILD, 0, 25, 160, 8
 CONTROL "Отмена", IDD_CANCEL, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 56, 40, 45, 15
 CONTROL IDI_ICON1, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 4, 21, 20
}

IDB_BITMAP_TOOL1 BITMAP "Resource/tool1.bmp"

IDB_BITMAP2 BITMAP "Resource/pen.bmp"
IDB_BITMAP3 BITMAP "Resource/brush.bmp"
IDB_BITMAP4 BITMAP "Resource/eye.bmp"
IDB_BITMAP5 BITMAP "Resource/filled.bmp"
IDB_BITMAP6 BITMAP "Resource/indig.bmp"

IDB_BITMAP7 BITMAP 
{
 '42 4D E6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 1F 00 00 00 17 00 00 00 01 00 04 00 00 00'
 '00 00 70 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '88 88 88 88 88 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 88 88 88 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 C8 C8 C8 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 C8 C8 C8 80 88 8C 88 88 88 88 C8 CC CC CC'
 'C8 88 88 88 88 80 88 8C 88 88 88 88 C8 CC 88 88'
 '8C 88 88 88 88 80 88 8C C8 88 88 8C C8 CC 88 88'
 '8C C8 88 88 88 80 88 8C CC CC CC CC C8 CC 88 88'
 '8C C8 88 88 88 80 88 88 C8 88 88 8C 88 CC 88 88'
 '8C C8 88 88 88 80 88 88 CC 88 88 CC 88 CC 88 88'
 '8C C8 88 88 88 80 88 88 CC 88 88 CC 88 CC 88 88'
 '8C C8 88 88 88 80 88 88 8C 88 88 C8 88 CC 88 88'
 '8C 88 88 88 88 80 88 88 8C C8 8C C8 88 CC CC CC'
 'C8 88 88 88 88 80 88 88 8C C8 8C C8 88 CC 88 88'
 '88 88 88 88 88 80 88 88 88 C8 8C 88 88 CC 88 88'
 '88 88 88 88 88 80 88 88 88 C8 8C 88 88 CC 88 88'
 '88 88 88 88 88 80 88 88 88 CC CC 88 88 CC 88 88'
 '88 88 88 88 88 80 88 88 88 8C C8 88 88 CC 88 88'
 '88 88 88 88 88 80 88 88 88 8C C8 88 88 CC 88 88'
 'CC 88 88 88 88 80 88 88 88 8C C8 88 88 CC CC CC'
 'CC 88 88 88 88 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 88 88 88 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 88 88 88 80 88 88 88 88 88 88 88 88 88 88'
 '88 88 88 88 88 80'
}

IDI_ICON3 ICON
{
 '00 00 01 00 01 00 20 20 02 00 00 00 00 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 00 01 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 FF FF FF 9F FF FF FF CF FF FF'
 'FF CF FF FF FF CF FF FF FF CF FF FF FF CF FF FF'
 'FF CF 1F FF FF E7 03 FF FF E7 00 03 FF E7 08 00'
 '07 C7 18 00 00 07 1C 18 08 33 07 24 18 33 03 00'
 'FC 73 00 3C C0 73 00 66 00 F3 80 E7 00 F3 80 99'
 '00 F3 80 99 00 F3 82 FE 40 F3 9E 3C 78 F3 8C 00'
 '38 F9 80 00 30 F9 FC 00 00 79 FF F8 00 79 FF FF'
 'E0 39 FF FF FF 99 FF FF FF E4 FF FF FF FC FF FF'
 'FF FC FF FF FF FC'
}

IDI_ICON1 ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 80 80 80 00 C0 C0'
 'C0 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 0F FF FF 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 0F FF FF 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 0F FF FF 00 00 00 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 0F FF FF 0F FF FF 00 00 00'
 '00 0F FF FF 00 00 00 0F FF FF 0F FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 0F FF FF 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 0F FF FF 00 00 00 0F FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 9C 00'
 '00 01 BC 00 00 01 9C 00 00 01 00 00 00 00 DC 03'
 '80 01 DC 05 40 01 9C 06 C0 01 9C 05 40 01 BC 03'
 '80 01 00 00 00 00 BC 00 00 01 DC 00 00 01 9C 00'
 '00 01 DC 00 00 01 9C 00 00 01 00 00 00 00 FC 03'
 '80 01 9C 05 40 01 BC 06 C0 01 DC 05 40 01 9C 03'
 '80 01 00 00 00 00 FC E0 00 01 DD 50 00 01 DD B0'
 '00 01 9D 50 00 01 DC E0 00 01 00 00 00 00 FD B4'
 'D3 6D FD B5 D7 6D FD 36 DB 4D FD B4 D3 5D'
}


IDD_LETTER_DIALOG DIALOGEX 0, 0, 132, 108
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Параметры ключевого слова"
FONT 8, "MS Sans Serif"
{
 CONTROL "Ключевое слово", IDC_GROUPBOX4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 0, 124, 28
 CONTROL "", IDC_LETTER_TEXT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 9, 115, 13
 CONTROL "Букв. Стб.  Стр.", IDC_GROUPBOX5, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 31, 76, 73
 CONTROL "", IDC_LETTER_LIST, "listbox", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 40, 68, 62
 CONTROL "Столбец", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 84, 31, 44, 28
 CONTROL "", IDC_COLUMN, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 88, 41, 24, 14
 CONTROL "UpDown1", IDC_UPDOWN_COLUMN, "msctls_updown32", UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_HORZ | WS_CHILD | WS_VISIBLE, 112, 41, 12, 13
 CONTROL "Строка", IDC_GROUPBOX3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 84, 59, 44, 28
 CONTROL "", IDC_LINE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 88, 69, 24, 14
 CONTROL "UpDown2", IDC_UPDOWN_LINE, "msctls_updown32", UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 112, 69, 12, 12
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 89, 44, 14
}
/*
100 DIALOGEX 0, 0, 231, 113
STYLE DS_FIXEDSYS | DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе"
LANGUAGE LANG_RUSSIAN, 0x1
FONT 8, "MS Shell Dlg"//, FW_DONTCARE, FALSE, 1
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 174, 7, 50, 14
   CONTROL "Программа: Японские кроссворды", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 10, 120, 8
   CONTROL "Версия: 5.2", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 20, 120, 8 , 0x00000020
   CONTROL "Разработчик: Власов Константин", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 36, 120, 8
   CONTROL "МФТИ, 2003 г.", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 47, 120, 8
   CONTROL "© Все права зарезервированы.", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 58, 120, 8
   CONTROL "Домашняя страница:", -1, STATIC, SS_CENTER | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 78, 73, 8 , 0x00000020
   CONTROL 133, -1, STATIC, SS_ICON | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 25, 73, 20, 20
   CONTROL "E-mail:", -1, STATIC, SS_CENTER | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 42, 91, 73, 8 , 0x00000020
   CONTROL 132, -1, STATIC, SS_BITMAP | SS_REALSIZEIMAGE | WS_CHILD | WS_VISIBLE, 31, 92, 11, 6
   CONTROL "http://flint.50free.org", 1000, STATIC, SS_CENTER | SS_NOPREFIX | SS_NOTIFY | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 119, 78, 75, 8
   CONTROL "flint_inc@pochtamt.ru", 1001, STATIC, SS_CENTER | SS_NOPREFIX | SS_NOTIFY | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 119, 91, 75, 8
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 10, 20, 20
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 68, 217, 38
} */

